.rotatingAnimation {
    animation: rotate 40s linear infinite;
}
.rotatingAnimation2 {
    animation: rotate2 40s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }