:root {
  --bg: #000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);

  --background-color: #18181b;
  --text-color: #a1a1aa;
}

.title {
  /* font-size: var(--fs); */
  line-height: 1;
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
  border-block: solid 2px black;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* .animated-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
} */

.animated-text span {
  position: relative;
}

/* .animated-text span::before{
  content: "Youtuber";
  color: #fff;
  animation: words 20s infinite;
} */

.animated-text span::after {
  content: "";
  position: absolute;
  /* width: calc(100% + 8px); */
  height: 100%;
  background-color: #000;
  border-left: 2px solid #fff;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

.circularImage:nth-of-type(1) {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: circularImage1 5s linear 0 infinite forwards forwards;
}

@keyframes circularImage1 {
  0% {
    left: 192px;
    top: 180px;
  }
  50% {
    left: 50%;
    top: 0;
    /* transform: translate(-50%); */
    transform: translateX(-50%);
  }
  100% {
    left: 192px;
    top: 180px;
    transform: translateX(0);
  }
}

.logo-container {
  position: relative;
  /* width: fit-content; */

  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
    height: 4px;
    background-color: #00c2ff;
    transform-origin: center center;
    transform: scaleX(0);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: line-animation 3s ease infinite alternate; */
    animation: line-animation 1.5s ease forwards;
    animation-play-state: paused;
  }

  h1.page-logo {
    font-family: "PoppinsRegular";
    opacity: 0;
    animation: clip-path-reveal-1 1.5s ease forwards;
    animation-play-state: paused;
  }

  h1.page-logo.animate {
    animation-play-state: running;
  }
}

.logo-container.animate::before {
  animation-play-state: running;
}

@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  70% {
    transform: scaleX(0.2);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
}

@keyframes clip-path-reveal-1 {
  0%,
  25% {
    opacity: 1;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    opacity: 1;
  }
}

h3.subHeadingAnimation {
  /* max-width: 14ch; */
  /* color: white; */
  /* text-align: left; */
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation-play-state: paused;
}
h3.subHeadingAnimation.animate {
  animation-play-state: running;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h3.subHeadingAnimation > span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  /* animation-play-state: paused; */
}

/* h3.subHeadingAnimation.animate > span {
  animation-play-state: running;
}

.subHeadingAnimation > span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subHeadingAnimation > span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
} */
@keyframes fade-in-text {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.char {
  /* font-size: 40px; */
  /* height: 40px; */
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

/* .paragraph > .line{
  opacity: 0;
  display: block;
} */

@keyframes reveal {
  from {
    translate: 0 20px;
  }
  to {
    translate: none;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.borderAnimation:before{
  content: "";
  background-image: conic-gradient(
      #04b0ee 20deg,
      #0475ee 53deg,
      #0408ee 86deg,
      transparent 120deg
  );
  height: 150%;
  /* width: 150%; */
  aspect-ratio: 1;
  position: absolute;

  left: -95%;
  top: -25%;
  /* transform: translate(-50%,-50%); */
  animation: rotateAW 3s infinite linear;
}
@keyframes rotateAW{
  100%{
      transform: rotate(-360deg);
  }
}

.borderAnimation2:before{
  content: "";
  background-image: conic-gradient(
    transparent 0deg,
    #0408ee 30deg,
    #0475ee 60deg,
    #04b0ee 120deg,
    transparent 121deg
    /* #04b0ee 20deg,
    #0475ee 53deg,
    #0408ee 86deg,
    transparent 120deg */
  );
  height: 150%;
  /* width: 150%; */
  aspect-ratio: 1;
  position: absolute;
  rotate: -120deg;
  left: -95%;
  top: -25%;
  /* transform: translate(-50%,-50%); */
  animation: rotateCW 3s infinite linear reverse;
}
@keyframes rotateCW{
  100%{
      transform: rotate(-360deg);
  }
}

@keyframes hFull {
  100% {
    height: 100%;
  }
}