// Helper function to generate random stars in pure SCSS
@function random-position($count) {
    $shadows: ();
    @for $i from 1 through $count {
      $x: random(2000);
      $y: random(2000);
      $shadows: append($shadows, #{$x}px #{$y}px #fff, comma);
    }
    @return $shadows;
  }
  
  $shadows-small: random-position(700);
  $shadows-medium: random-position(200);
  $shadows-big: random-position(100);
  
    .parallaxStars {
    margin: 0;
    padding: 0;
    // background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background: radial-gradient(ellipse at bottom, #283a4f 0%, #212742 100%);
    overflow: hidden;
  }
  
  // #stars, #stars2, #stars3 {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  // }
  
  // #stars {
  //   width: 1px;
  //   height: 1px;
  //   box-shadow: $shadows-small;
  //   animation: animStar 50s linear infinite;
  
  //   &::after {
  //     content: " ";
  //     position: absolute;
  //     top: 2000px;
  //     width: 1px;
  //     height: 1px;
  //     box-shadow: $shadows-small;
  //   }
  // }
  
  // #stars2 {
  //   width: 2px;
  //   height: 2px;
  //   box-shadow: $shadows-medium;
  //   animation: animStar 100s linear infinite;
  
  //   &::after {
  //     content: " ";
  //     position: absolute;
  //     top: 2000px;
  //     width: 2px;
  //     height: 2px;
  //     box-shadow: $shadows-medium;
  //   }
  // }
  
  // #stars3 {
  //   width: 3px;
  //   height: 3px;
  //   box-shadow: $shadows-big;
  //   animation: animStar 150s linear infinite;
  
  //   &::after {
  //     content: " ";
  //     position: absolute;
  //     top: 2000px;
  //     width: 3px;
  //     height: 3px;
  //     box-shadow: $shadows-big;
  //   }
  // }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
  
    span {
      background: -webkit-linear-gradient(white, #38495a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  